<h1>Burger Time</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger}}

      <button data-burgerid="{{this.id}}" class="devour">Devour Burger!</button>
    </p>
  </li>
  {{/each}}
</ul>

<ul>
  {{#each devouredBurgers}}
  <li>
    <p>
      {{this.id}}. {{this.devouredBurger}}

      <button data-devouredBurgerid="{{this.id}}" class="devour">Devour Burger!</button>
    </p>
  </li>
  {{/each}}
</ul>


<h2>Create a Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Build Burger!</button>
</form>

<h2>Devour</h2>
<form id="devour" class="button-size">
  <select name="id">
		{{#each movies}}
			<option value="{{this.id}}">{{this.burger}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="burger" placeholder="burger"></textarea>
  <button type="submit">Devour!</button>
</form>

<script type="text/javascript">
 $("#createburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newBurger = {
      movie: $("#createburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

$("#devour").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var devouredBurger = {
      movie: $("#devour [name=burger]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: devouredBurger
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });


</script>